@model string
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>403 Forbidden</title>
</head>
<body>
    <h1>
        Forbidden</h1>
    <p>
        You don't have permission to access @Model
        on this server.</p>
    <hr>
</body>
</html>
