<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />

        <webServices >
            <protocols>
                <remove name="HttpSoap12"/>
            </protocols>
        </webServices>
        <httpRuntime maxRequestLength="2048000" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="Default">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="web">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <webHttpBinding>
                <binding name="ServiceWebBinding" closeTimeout="00:25:00" openTimeout="00:25:00"
                    receiveTimeout="00:25:00" sendTimeout="00:25:00" maxBufferPoolSize="214748364"
                    maxReceivedMessageSize="214748364" transferMode="Streamed">
                    <readerQuotas maxStringContentLength="214748364" maxArrayLength="214748364" maxBytesPerRead="4096" />
                </binding>
            </webHttpBinding>
        </bindings>

        <services>
            <service name="WcfEchoService">
                <endpoint binding="basicHttpBinding" contract="LearnMVC.WebServices.Migration.IWcfEchoService" />
            </service>
            <service behaviorConfiguration="Default" name="FileStorage">
                <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
                    contract="LearnMVC.WebServices.IFileStorage">
                </endpoint>
            </service>
        </services>

        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true"  />

    </system.serviceModel>

</configuration>
